<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PregaCare</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/particle.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Lobster" rel="stylesheet">

</head>

<body class="sample-page">
    <div class="landing-section">
        <div class="container" style="padding-bottom: 0px;">
            <nav class="navbar navbar-expand-lg">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-0 ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="register.html" data-toggle="modal" data-target="#varyingContentModal">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="modal fade" id="varyingContentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="exampleModalLabel">Login</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <form id="login">
                                    <div class="form-group">
                                        <label>UserID *</label>
                                        <input value="nvs@mail.com" type="text" class="form-control p_input" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label>Password *</label>
                                        <input value="nvs" type="password" class="form-control p_input" id="password">
                                    </div>
                                    <div class="form-group">
                                        <label>Type *</label>
                                        <select class="form-control p_input" id="type">
                                            <option value="Patient">Patient</option>
                                            <option value="PHC">PHC</option>
                                            <option value="AWC">AWC</option>
                                            <option value="Govt.">Govt.</option>
                                            <option value="NGO">NGO</option>
                                        </select>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between">
                                        <div class="icheck-square">
                                            <input tabindex="1" type="checkbox" id="remember">
                                            <label for="remember">Remember me</label>
                                        </div>
                                        <a href="#" class="forgot-pass">Forgot password</a>
                                    </div>
                                    <div class="text-center">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary btn-block enter-btn" id="login-btn">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <img src="../images/pc1.png" style="height: 300px; width: 300px; margin:0px auto;">
            <p style="font-weight: 900; font-size: 24px; margin-top:0px;">The Care She Deserves !</p>
        </div>
    </div>

    <div>

        <div id="particles-js"></div>

        <div class="content-section" id="element">
            <div class="container">
                <h2 class="features-heading" style="margin: 30px auto 50px; color: #232323;">Top Features</h2>
                <div class="row features-tiles">
                    <div class="tiles">
                        <img src="images/assets_landing page/Icon_9.png" alt="">
                        <p class="tile-title" style="font-size: 20px; font-weight: 900; color: #232323;">Reminder</p>
                        <p class="tile-title" style="font-weight: regular;">No more memorising!</p>
                        <p class="tile-title" style="font-weight: regular;">Get all info at your palm</p>

                    </div>
                    <div class="tiles">
                        <img src="images/assets_landing page/Icon_3.png" alt="">
                        <p class="tile-title" style="font-size: 20px; font-weight: 900; color: #232323;">Digitisation</p>
                        <p class="tile-title" style="font-weight: regular;">Storage of each record for an efficient system</p>
                    </div>
                    <div class="tiles">
                        <img src="images/assets_landing page/Icon_1.png" alt="">
                        <p class="tile-title" style="font-size: 20px; font-weight: 900; color: #232323;">Emergency</p>
                        <p class="tile-title" style="font-weight: regular;">Assured assistance within minutes</p>
                    </div>
                    <div class="tiles">
                        <img src="images/assets_landing page/Icon_4.png" alt="">
                        <p class="tile-title" style="font-size: 20px; font-weight: 900; color: #232323;">Events</p>
                        <p class="tile-title" style="font-weight: regular;">Knowing all that's happening around</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-footer">
        <div class="footer-bottom">
            <div class="container">
                <p><a href="#">Flying Neurons</a> &copy; 2019</p>
            </div>
        </div>
    </div>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/sidebar-icon.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <script src="js/alerts.js"></script>
    <script src="js/modalDemo.js"></script>
    <script src="node_modules/jquery-circle-progress/dist/circle-progress.min.js"></script>
    <script src="node_modules/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="node_modules/progressbar.js/dist/progressbar.min.js"></script>
    <script src="node_modules/flot/jquery.flot.js"></script>
    <script src="node_modules/flot/jquery.flot.resize.js"></script>
    <script src="node_modules/flot.curvedlines/curvedLines.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/sidebar-icon.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/sparkline.js"></script>
    <script src="js/progress-bar.js"></script>
    <script src='js/particle.min.js'></script>
    <script src="js/particle.js"></script>

    <script src="js/login.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="../js/translate.js"></script>

</body>

</html>