<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PregAssist</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
</head>

<body class="sample-page">
    <div class="landing-section">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-0 ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="register.html" data-toggle="modal" data-target="#varyingContentModal">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="modal fade" id="varyingContentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="exampleModalLabel">Login</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <form id="login">
                                    <div class="form-group">
                                        <label>Username or email *</label>
                                        <input type="text" class="form-control p_input" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label>Password *</label>
                                        <input type="password" class="form-control p_input" id="password">
                                    </div>
                                    <div class="form-group" class="form-control p_input" >
                                        <label>Type</label>
                                        <select id="type">
                                            <option>Patient</option>
                                            <option>PHC</option>
                                            <option>AWC</option>
                                            <option>NGO</option>
                                            <option>Govt.</option>
                                        </select>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between">
                                        <div class="icheck-square">
                                            <input tabindex="1" type="checkbox" id="remember">
                                            <label for="remember">Remember me</label>
                                        </div>
                                        <a href="#" class="forgot-pass">Forgot password</a>
                                    </div>
                                    <div class="text-center">
                                    </div>
                                    <p class="sign-up">Don't have an Account?
                                    </p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary btn-block enter-btn" id="login-btn">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <h1><i class="fa fa-female"></i> PregAssist</h1>
            <p>An application to take care of medical emergency needs of Rural Women.</p>
            <div class="row d-flex justify-content-center">
                <a href="/diet_plan" class="btn btn-buy">Diet Plan</a> &nbsp;
                <a href="/asha_list" class="btn btn-buy">Asha Workers List</a> &nbsp;
                <a href="/vaccination_list" class="btn btn-buy">Vaccinations List</a>
            </div>
            <img src="images/assets_landing page/.jpg" alt="">
        </div>
    </div>
    <div class="content-section">
        <div class="container">
            <h2 class="features-heading">Top Features</h2>
            <h3 class="features-subheading"></h3>
            <div class="row features-tiles">
                <div class="tiles">
                    <img src="images/assets_landing page/Icon_9.png" alt="">
                    <p class="tile-title">Emergency Notification Feature</p>
                </div>
                <div class="tiles">
                    <img src="images/assets_landing page/Icon_3.png" alt="">
                    <p class="tile-title">Digitised Patient Records</p>
                </div>
                <div class="tiles">
                    <img src="images/assets_landing page/Icon_1.png" alt="">
                    <p class="tile-title">Regular Vaccination Reminders</p>
                </div>
                <div class="tiles">
                    <img src="images/assets_landing page/Icon_4.png" alt="">
                    <p class="tile-title">Pregnancy Best Pracitces Information including Diet Plans</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="footer-bottom">
            <div class="container">
                <p><a href="#">Illuminati</a> &copy; 2018</p>
            </div>
        </div>
    </div>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/sidebar-icon.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <script src="js/alerts.js"></script>
    <script src="js/modalDemo.js"></script>
    <script src="node_modules/jquery-circle-progress/dist/circle-progress.min.js"></script>
    <script src="node_modules/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="node_modules/progressbar.js/dist/progressbar.min.js"></script>
    <script src="node_modules/flot/jquery.flot.js"></script>
    <script src="node_modules/flot/jquery.flot.resize.js"></script>
    <script src="node_modules/flot.curvedlines/curvedLines.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/sidebar-icon.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/sparkline.js"></script>
    <script src="js/progress-bar.js"></script>
    <script src="js/login.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        /////////////////////////////////////////////////////////////////////////////////////////
        ////////////////// For initializing the google translate dropdown////////////////////////
        /////////////////////////////////////////////////////////////////////////////////////////

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
</body>

</html>