<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Notify Button</title>
    <link rel="stylesheet" href="node_modules/pwstabs/assets/jquery.pwstabs.min.css">
    <link rel="stylesheet" href="node_modules/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Comfortaa|Concert+One|Righteous" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/notify.css" />
    <link rel="icon" type="image/x-icon" href="./icons/favicon.ico">
</head>

<body>
    <center>
        <button class="btn btn-danger button button5 submit" id="notification-btn">
            NOTIFY <i class="fa fa-bell"></i> 
        </button>
        <p class="text-below">Messages will be sent immediately to the nearby ASHA workers.</p>
    </center>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/notify.js"></script>
    
</body>

</html>